body {
	font-family: 'Helvetica Neue', sans-serif;
}

header {
	padding: 20px 0;
}

.btn {
	border-radius: 16px;
	background-color: #FFFFFF;
	width: auto;
	height: auto;
	border: 1px;
	border-style: solid;
	margin-left: 2.5px;
	margin-right: 2.5px;
	font-size: 12px;
	text-align: center;
	font-weight: 300;
}

.btn:hover {
	background-color: #0047b3;
	color: #FFFFFF;
}

.btn:active {
	background-color: #FFFFFF;
	color: #0047b3;
}

nav a {
	color: #0047b3;
}

.custom {
	width: 100px;
}

.circular--square {
  	border-radius: 50%;
  	width: 200px;
  	height: 200px;
  	position: relative;
  	padding:0px;
   	border:6px;
   	border-style: solid;
   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circular--square img {
  	width: 100%;
  	height: auto;
}

.jumbotron {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('pics/lassenhotspring2.JPG');
	background-size: cover;
	height: 500px;
	color: #FFFFFF;
	text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h1 {
	font-weight: 900;
	font-size: auto;
}

.about h3 {
	font-weight: 500;
}

.about p {
	font-weight: 200;
	font-size: 16px;
}

footer a:hover {
	color: #0047b3;
	text-decoration: none;
}

footer a {
	color: #96989b;
	margin-left: 1.25px;
	margin-right: 1.25px;
	margin-top: 4.5px;
	margin-bottom: 4px;
}

footer p {
	color: #96989b;
	font-weight: 300;
}